{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="margin-top: 30px">
                <form id="file-upload-form" method="post" action="{{ path('post_image') }}" enctype="multipart/form-data">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="file">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>

                    <button type="submit" class="btn btn-primary" style="margin-top: 15px">Push!</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" style="margin-top: 30px">
                <div class="form-group">
                    <label for="comment">Image UUIDs:</label>
                    <textarea class="form-control" rows="5" id="uuid"></textarea>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
